body{
  background-color:#FFFAFA;
  margin:0;}

div{
  display:flex;
  flex-direction:column;
  align-items:flex-start;

  width:100px;
  min-height:100vh;

  padding:30px;
  background-color:#E6E6FA;
}

div.a{
  display:flex;
  flex-direction:row;
  background-color:#F5F5F5;
  padding:20px;
  align-items:center;}

div.b{
  display:flex;
  flex-direction:row;
  background-color:#F5F5F5;
  padding:20px;
  align-items:center;}
